<div [ngClass]="['stud-lect-card card ' + lectureClass()]">
    <div class="card-body">
        <div class="card-title">
            {{lecture.lectureId}}: {{lecture.lectureTopic}}
        </div>
        <div class="card-subtitle text-muted">
            {{lecture.dateStart | date:'medium'}}
        </div>
    </div>
    <div class="click-info">
        Click to toggle attendance
    </div>   
</div>
