  
  <div class="modal-header">
    <h4 class="modal-title pull-left">Examine Driving Test</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div>Enter Your Remark</div>
      <textarea class="textarea form-control" placeholder="Examiner Remark" [(ngModel)]="examinerRemark">
      </textarea>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" [checked]="isPassed" [(ngModel)]="isPassed">
      <div class="form-check-label">Passed</div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="onSubmit()">
      Save
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="bsModalRef.hide()"
    >
      Cancel
    </button>
  </div>