<div class="modal-header">
    <h4 class="modal-title pull-left">Your Remark For This Ride</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea
      class="text-area form-control"
        [(ngModel)]="remark"
        placeholder="Remark"
        name="instructorRemarksControl"
    ></textarea>
    <div *ngIf="role == 'Instructor' && startsBeforeToday()" class="form-check mt-2 mb-1">
      <input type="checkbox" [(ngModel)]="isDriven" class="form-check-input">
      <label class="form-check-label">Is Session Driven?</label>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn btn-success" (click)="onSubmit()">Save</div>
    <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Cancel</button>
  </div>
