<div class="card lecture-card mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{lecture.lectureId}}: {{lecture.lectureTopic.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Regulations Group {{lecture.regulationsGroupId }}</h6>
      
      
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <div routerLink="{{'/lectures/list/' + lecture.lectureId}}" class="btn btn-primary">View</div>
      <div class="lecture-date text-muted"><small>{{lecture.dateStart | date:'medium'}}</small></div>
    </div>
  </div>