<div>
  <form (ngSubmit)="onSubmit()" class="form">
    <app-date-input
      [label]="'Date'"
      [formControl]="testModel.controls['dateStart']"
      [minDate]="minDate"
    ></app-date-input>
    <app-text-input
      [label]="'Location'"
      [formControl]="testModel.controls['location']"
      
    ></app-text-input>
    <div class="form-group">
      <button
        type="button"
        class="btn btn-primary"
        (click)="studentsCollapsed = !studentsCollapsed"
        [attr.aria-expanded]="!studentsCollapsed"
        aria-controls="collapseBasic"
      >
        Select Students <i [ngClass]="{'fa fas ':true, 'fa-caret-down': !studentsCollapsed, 'fa-caret-up': studentsCollapsed}"></i>
      </button>
      <hr />
      <div id="collapseBasic" [collapse]="!studentsCollapsed">
        <div class="students-check">
          <div class="form-check" *ngFor="let student of allStudents">
            <input
              type="checkbox"
              class="form-check-input"
              [value]="student"
              (click)="handleStudentClick($event)"
              [checked]="students?.includes(student)"
              [disabled]="studentsAssigned?.includes(student)"

            />
            <label class="form-check-label">{{ student }}</label>
          </div>
          
        </div>
        <hr>
        <div class="form-check">
            <input
            type="checkbox"
            class="form-check-input"
            [value]="'all'"
            (click)="handleStudentClick($event)"
            [checked]="allChecked"
          />
          <label class="form-check-label">
              {{allChecked ? "Uncheck all" : "Check all"}}
          </label>
          </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
