<h2>Lectures</h2>
<div class="d-flex flex-column">
    <a href="/lectures/list">Lectures Held</a>
    <a href="/lectures/topic-list">Lecture Topics</a>
    <a href="/lectures/hold-lecture">Hold Lecture</a>
    <a href="/lectures/add-topic">Add Lecture Topic</a>
    
    
</div>