<div [hidden]="registrationSuccess" class="register-form">
  <form class="form" autocomplete="off" (ngSubmit)="check()">
    <h4>Register New Employee</h4>
    <div class="form-group">
      <label>Choose Roles</label>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [value]="'Professor'"
          [disabled]="model.roles.includes('Examiner')"
          [checked]="model.roles.includes('Professor')"
          (click)="resolveRoleCheck($event)"
        />
        <label class="form-check-label">Professor</label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [value]="'Instructor'"
          [disabled]="model.roles.includes('Examiner')"
          [checked]="model.roles.includes('Instructor')"
          (click)="resolveRoleCheck($event)"
        />
        <label class="form-check-label">Instructor</label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [value]="'Examiner'"
          [disabled]="
            model.roles.includes('Professor') ||
            model.roles.includes('Instructor')
          "
          [checked]="model.roles.includes('Examiner')"
          (click)="resolveRoleCheck($event)"
        />
        <label class="form-check-label">Examiner</label>
      </div>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input
        name="firstName"
        type="text"
        class="form-control"
        [(ngModel)]="model.firstName"
        placeholder="First Name"
      />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        name="lastName"
        type="text"
        class="form-control"
        [(ngModel)]="model.lastName"
        placeholder="Last Name"
      />
    </div>
    <div class="form-group">
      <label>Username</label>
      <input
        name="username"
        type="text"
        class="form-control"
        [(ngModel)]="model.username"
        placeholder="4 - 12 chars"
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        [(ngModel)]="model.password"
        placeholder="6 - 20 chars"
      />
    </div>
    <div class="form-group">
      <label>Repeat Password</label>
      <input
        name="repeatPassword"
        type="password"
        class="form-control"
        [(ngModel)]="model.repeatPassword"
        placeholder="Repeat the password"
      />
    </div>

    <div class="form-group text-center">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
</div>
