<div [hidden]="registrationSuccess" class="register-form">
  <form
    class="form"
    autocomplete="off"
    (ngSubmit)="check()"
  >
    <h4>Register New Student</h4>
    <div  class="form-group">
      <label>Choose Regulations Group</label>
      <select [(ngModel)]="model.regulationsGroupId" name="regulationsGroupId" class="form-select form-control">
        <option
          *ngFor="let group of regulationsGroups"
          [value]="group.regulationsGroupId"
          
        >
          {{ group.regulationsGroupId }}: Start {{ group.dateStart | date }} End:
          {{ group.dateEnd | date }}
        </option>
      </select>
      <div>{{model.regulationsGroupId}}</div>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input
        name="firstName"
        type="text"
        class="form-control"
        [(ngModel)]="model.firstName"
        placeholder="First Name"
      />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        name="lastName"
        type="text"
        class="form-control"
        [(ngModel)]="model.lastName"
        placeholder="Last Name"
      />
    </div>
    <div class="form-group">
      <label>Username</label>
      <input
        name="username"
        type="text"
        class="form-control"
        [(ngModel)]="model.username"
        placeholder="4 - 12 chars"
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        [(ngModel)]="model.password"
        placeholder="6 - 20 chars"
      />
    </div>
    <div class="form-group">
      <label>Repeat Password</label>
      <input
        name="repeatPassword"
        type="password"
        class="form-control"
        [(ngModel)]="model.repeatPassword"
        placeholder="Repeat the password"
      />
    </div>
    
    <div class="form-group text-center">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>

  
</div>
