<div class="modal-header">
  <h4 class="modal-title pull-left">
    Change {{ student.firstName | titlecase }} Regulations Group
  </h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form">
    <div class="form-group">
      <label>Regulations Group:</label>
      <select
        [(ngModel)]="regulationsGroupId"
        class="form-select form-control form-select"
      >
        <option
          *ngFor="let rg of regulationsGroups"
          value="{{ rg.regulationsGroupId }}"
          name="regulationsGroupId"
        >
          {{ rg.regulationsGroupId }}: Start: {{ rg.dateStart | date }} End:
          {{ rg.dateEnd | date }}
        </option>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="btn btn-success" (click)="save()">Save</div>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    Cancel
  </button>
</div>
