.nav-link:hover{
    cursor: pointer;
}

.navbar {
    padding: 0.5rem 6rem;
}
.navbar-brand {
    padding: 0;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 1rem;
}