<nav class="navbar navbar-light bg-light">
  <a href="/" class="navbar-brand">Driving School</a>
  <ul *ngIf="accountService.currentUser$ | async" class="navbar-nav mr-auto">
    <li
      *ngIf="
        roles?.includes('Admin') ||
        roles?.includes('Professor') ||
        roles?.includes('Instructor')
      "
      class="nav-item"
    >
      <a class="nav-link" routerLink="/register">Register Student</a>
    </li>

    <li *ngIf="roles?.includes('Admin')" class="nav-item">
      <a class="nav-link" routerLink="/register-employee">Register Employee</a>
    </li>
    
  
  <ng-template [ngIf]="roles?.includes('Professor') || roles?.includes('Instructor')">
    <li class="nav-item">
      <a href="/students" class="nav-link">Students</a>
    </li>
  </ng-template>

  <ng-template [ngIf]="roles?.includes('Professor')">
    <li class="nav-item">
      <a href="/lectures" class="nav-link">Lectures</a>
    </li>
  
    <li class="nav-item">
      <a href="/regulations-tests" class="nav-link">Regulations Tests</a>
    </li>
    <li class="nav-item">
      <a href="/regulations-groups" class="nav-link">Groups</a>
    </li>
  </ng-template>

  <ng-template [ngIf]="roles?.includes('Student')">
    <li class="nav-item">
      <a href="/student/lectures" class="nav-link">Lectures</a>
    </li>
  </ng-template>
  

  <ng-template [ngIf]="roles?.includes('Instructor') || roles?.includes('Student')">
    <li class="nav-item">
      <a href="/sessions" class="nav-link">Sessions</a>
    </li>
  </ng-template>

  <ng-template [ngIf]="roles?.includes('Instructor') || roles?.includes('Examiner') || roles?.includes('Student')">
    <li class="nav-item">
      <a href="/driving-tests" class="nav-link">Driving Tests</a>
    </li>
  </ng-template>
  
  
  
</ul>
  <div class="ml-auto d-flex" *ngIf="accountService.currentUser$ | async">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark dropdown-toggle"
                aria-controls="dropdown-basic">
                Hello, <b>{{ (accountService.currentUser$ | async).firstName }}</b> <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="/profile">Profile</a></li>
          <li role="menuitem"><a class="dropdown-item" href="/schedule">Schedule</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" (click)="accountService.logout()" href="#">Logout</a>
          </li>
        </ul>
      </div>
  </div>
  <div *ngIf="!(accountService.currentUser$ | async)">
    <form (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="model.password"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Login
      </button>
    </form>
  </div>
</nav>
