<div>
  <div class="session-list-nav">
    <div class="page-size">
      <div class="mr-2">Page Size:</div>
      <input
        class="form-control size-input mr-1"
        type="number"
        max="50"
        min="1"
        [(ngModel)]="pageSize"
      />
    </div>
    <div class="today-toggle">
      <button
        class="btn btn-outline-dark btn-sm"
        (click)="onTodayClick()"
        [class.active]="sessionParams.today"
      >
        Today Only
      </button>
    </div>
    <div>
      <div
        class="btn btn-sm btn-outline-dark"
        [class.active]="customDateActive"
        (click)="onCustomDateClick()"
      >
        Custom Date
      </div>
      <input
        type="text"
        *ngIf="customDateActive"
        placeholder="Sessions Date"
        (bsValueChange)="onDateChange($event)"
        class="form-control form-date-input date-input"
        bsDatepicker
        [bsConfig]="bsConfig"
      />
    </div>
    <div>
      <select [(ngModel)]="sessionParams.sortDirection" name="sortDirectionSelect">
        <option value="desc" [selected]="sessionParams.sortDirection == 'desc'">
          Desc
        </option>
        <option value="asc" [selected]="sessionParams.sortDirection == 'asc'">
          Asc
        </option>
      </select>
    </div>
    <div>
      <select [(ngModel)]="sessionParams.isDriven" name="drivenSelect">
        <option [value]="null" [selected]="sessionParams.isDriven == null">
          All
        </option>
        <option [value]="true" [selected]="sessionParams.isDriven == true">
          Driven
        </option>
        <option [value]="false" [selected]="sessionParams.isDriven == false">
          Not Driven
        </option>
      </select>
    </div>

    <div class="search">
      <div class="btn btn-success btn-sm" (click)="loadDrivingSessions()">
        Search
      </div>
    </div>
  </div>
  <div class="session-list">
    <div class="session-card-wrap" *ngFor="let session of drivingSessions">
      <app-session-card
        (refreshSessionList)="refreshSessionList($event)"
        (deleteSession)="onDeleteDrivingSession($event)"
        [session]="session"
        [role]="role"
      ></app-session-card>
    </div>
  </div>
</div>
<div *ngIf="pagination" class="d-flex flex-row justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pageNumber"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
