.student-info {
    padding: 1.2rem;
}
.lec-count {
    border-radius: 5px;
    padding: 0.1rem 0.25rem;
    color: white;
}

.lec-count.attended {
    background-color: #28a745;
}


.lec-count.unattended {
    background-color: #dc3545;

}

