<h2>Driving Sessions</h2>
<div class="d-flex flex-column">
    <a routerLink="list">Driving Sessions List</a>
    <a *ngIf="roles?.includes('Instructor')" routerLink="add">Add Driving Session</a>
</div>
