<div>
  <div *ngFor="let topic of lectureTopics">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          {{ topic.lectureTopicId }}: {{ topic.title }}
        </h4>

        <div class="card-text">
          {{ topic.description }}
        </div>
      </div>
    </div>
  </div>
</div>
