<div class="group-choose-prompt add-students-collapse">
  <form (ngSubmit)="onSubmit()" class="form">
    <div class="form-group">
      <h5>Regulations Group:</h5>
      <select
        [(ngModel)]="regulationsGroupId"
        name="regulationsGroupId"
        class="form-select form-control"
      >
        <option
          *ngFor="let rg of regulationsGroups"
          value="{{ rg.regulationsGroupId }}"
        >
          {{ rg.regulationsGroupId }}: Start: {{ rg.dateStart | date }} End:
          {{ rg.dateEnd | date }}
        </option>
      </select>
      
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-secondary" [disabled]="regulationsGroupId == undefined">Ok</button>
    </div>
  </form>
</div>
