<div class="modal-header">
    <h4 class="modal-title pull-left">Sign {{student.firstName | titlecase }} To Test</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form">
      <div class="form-group">
        <label>Regulations Tests:</label>
        <select
          [(ngModel)]="regulationsTestId"
          class="form-select form-control form-select"
          name="regulationsTestId"
        >
          <option
            *ngFor="let rt of regulationsTests"
            value="{{ rt.regulationsTestId }}"
          >
            {{ rt.regulationsTestId }}: Date: {{ rt.dateStart | date:'medium'}}
            
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn btn-success" (click)="save()">Save</div>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  </div>