<div class="row">
  <div class="col-4" *ngFor="let lecture of lectures">
    <app-lecture-card [lecture]="lecture"></app-lecture-card>
  </div>
</div>

<div *ngIf="pagination" class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>