<div class="modal-header">
  <h4 class="modal-title pull-left">Add Students To Group</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="students-wrap">

  
  <div class="form-check" *ngFor="let student of studentsToAdd">
    <input
      class="form-check-input"
      type="checkbox"
      [checked]="checkedStudents.includes(student.username)"
      (click)="onCheckboxClick($event)"
      [value]="student.username"
    />
    <label>{{ student.username }}</label>
  </div>
</div>
  <hr>
  <div class="form-check">
    <input [checked]="allSelected" (click)="onSelectAllClick($event)" type="checkbox" class="form-check-input" />
    <label>Select All</label>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    (click)="addStudents()"
    [disabled]="checkedStudents.length == 0"
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-outline-danger"
    (click)="bsModalRef.hide()"
  >
    Cancel
  </button>
</div>
